//Test: Not using container
.container {
  // max-width: 120rem;
  // margin: 8rem auto;
  width: 100%;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar { 
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; //don't grow - don't shrink - start filling 18% of available space

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view { 
  background-color: #fff;
  background-color: orangered;
  height: 80rem;
  flex: 1; //grow as much as possible
}